body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* explicitly setting these - match them in your itch.io settings */
.content {
    min-width: 1024px;
    width: 1024px;
    max-width: 1024px;

    min-height: 768px;
    height: 768px;
    max-height: 768px;

    background-color: white;
}
